# CakePHP 3

/vendor/*

/webroot/img/*
/bin/*
!/.github/
/.github/*


/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/cache/*
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/*
!/tmp/empty

/logs/*
!/logs/empty

.DS_Store
*.md
webroot/js/.DS_Store
webroot/img/posts/.DS_Store

.DS_Store
webroot/.DS_Store
