h1 { font-size: 2em; font-weight:700;}
h1 small{ font-size: 0.7em; line-height: .75em; font-weight: 400;}
/************     BLOCO PADRAO     ******************/

section.padrao { background: #fff; padding: 0px 30px; }
section#artigo p.title {
    background-color: var(--shade1);
    color:var(--shade3);
    text-shadow:none;
}
section#artigo p.title i { font-size: 21px; margin-right: 10px; }
#a
.texto {
    margin:20px 0px;
}

h1 {
    line-height: 1.3;
}
h1 small { font-size:16px; line-height: 20px; display:block;}

.texto .category {font-size:13px;font-weight: 700;}
.category .badge {font-size:15px; color:#fff!important; font-weight: 400;}


.texto h1  {
    color: var(--shade3);
    font-size: 30px;
}
.texto h2  {
    color: var(--verde2);
    font-size: 26px;
    font-weight: 700;
}
.texto h3  {
    color: var(--verde1);
    font-size: 22px;
    font-weight: 700;
}
.texto h4  {
    color: var(--verde1);
    font-size: 18px;
    font-weight: 700;
}
