h1 { font-size: 2em; font-weight:700;}
h1 small{ font-size: 0.7em; line-height: .75em; font-weight: 400;}
/************     BLOCO PADRAO     ******************/

section.padrao { background: #fff; padding: 0px 30px; }
section#artigo p.title {
    background-color: var(--shade1);
    color:var(--shade3);
    text-shadow:none;
}
section#artigo p.title i { font-size: 21px; margin-right: 10px; }
#a
.texto {
    margin:20px 0px;
}

.texto .tags {font-size:18px;}
.texto .category {font-size:18px;}